body {
  background: url("https://i.pinimg.com/originals/2f/32/7e/2f327e2d2d272d8df8d65d03487a07a1.jpg");
  background-size: 100%;
  padding-top: 30px;
}

.container {
  background-color: rgba(194, 187, 145, 0.9);
  border:1px solid #cecece;
  border-radius: 8px;
}

.table-test {
    background-color: rgba(246, 246, 246, 0.95);;
    
}
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}